@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;0,800;0,900;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,500;0,800;0,900;1,500&family=Alegreya:ital,wght@0,400;0,500;0,600;0,800;0,900;1,400;1,600&display=swap');

* {
  font-family: 'Alegreya', serif;
}

:root {
  --ka-dark-blue: rgba(24,58,111,1);
  --ka-light-blue: #6FD8E7;
  --ka-green: #9BC84C;
  --color-visited-link: var(--ka-dark-blue)
}

h1, h2, h3, h4, h5, .tagline, dt {
  font-family: 'Alegreya Sans', sans-serif;
}

article {
  font-size: 1.2rem;
  max-width: 80ch;
}

.book-brand img {
  height: 9rem;
  width: auto;
  vertical-align: middle;
}

.book-brand a {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media screen and (min-width: $mobile-breakpoint) {
  .book-icon {
    display: none;
  }

  .book-menu .book-menu-content {
    top: calc(30vh + 4rem);
    position: sticky;
  }
}

#book-search-results:not(:empty) {
  display: block;
  background-color: white;
  margin: 1rem;

  padding: 0.5rem;
  outline: 0.2rem solid var(--ka-light-blue);
  border-radius: 0.2rem;
}

.banner {
  background-image:
    linear-gradient(to bottom, rgba(30,30,30,0.5), rgba(24,58,111,0.7)),
    url('images/KMDMP-heft-banner.png');
  height: 100%;
  padding: 5rem;
}

.top-bar {
  display: flex;
  flex-direction: row;
  flex-shrink: auto;
  justify-content: space-evenly;
  position: sticky;
  align-items: baseline;
  top: 0;
  height: 4rem;
  background-color: var(--ka-dark-blue);
  z-index: 1;
}

.top-bar a h1,
.tagline {
  color: white;
}

.top-bar a h2 {
  color: var(--ka-light-blue);
  font-size: clamp(1rem, 2.2vw, 1.5rem);
}

.top-bar a h1 {
  font-size: clamp(1.1rem, 2.5vw, 1.8rem);
}

.tagline {
  display: block;
  width: 50rem;
}

.ka-footer {
  display: flex;
  padding: 5vh;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.ka-footer > a > img {
  height: 6rem;
  width: auto;
}

.footer-contents {
  display: flex;
  flex-wrap: wrap;
  //justify-content: space-around;
  column-gap: 5rem;
}

.ka-footer dt {
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.neh {
  gap: 4rem;
}

.neh img {
  height: 6rem;
  width: auto;
}

.neh p {
  font-style: italic;
  max-width: 40ch;
}
